html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(120deg, #181818, #202020);
    color: #eee;
    font-family: 'Inter', sans-serif;
    margin: 0;
}


.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 20px;
    z-index: 1000;
    width: 100%;
}

header {
    width: 80%;
    max-width: 900px;
    border-radius: 999px;
    padding: 2px 0;
    background: rgba(18, 18, 18, 0.55);
    backdrop-filter: blur(20px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 30px rgba(0,0,0,0.3);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    min-height: 50px;
}

.top-bar h1 {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#typing::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #eee;
    font-weight: 500;
    position: relative;
    transition: color 0.3s;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background: #AA1111;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    color: #AA1111;
}

main {
    background: transparent !important;
    box-shadow: none !important;
    display: flex;
    flex-direction: column; /* Membuat card berurutan ke bawah */
    gap: 30px;
}


.profile-card {
    background: transparent;
    border: none;
    box-shadow: none;
    margin-top: 20px;
    width: 100%;
    padding: 80px 120px;   /* ruang kiri kanan */
    padding: 30px;
}

.profile-card:hover {
    transform: scale(1.03);
}

.profile-content {
    width: 55%;          /* ⬅️ bikin teks dominan */
}

.profile-content p {
    line-height: 2;
    font-size: 1.1rem;
}


.profile-content h2 {
    background: #AA1111;
    width: fit-content;
    padding: 5px;
    margin-bottom: 15px;
}

.profile-image {
    width: 40%;
    display: flex;
    justify-content: flex-end;   /* ⬅️ kunci ke kanan */
    padding-right: 150px;
}

.profile-image img {
    width: 340px;
    height: auto;
    object-fit: contain;
}

.profile-image img:hover {
    transform: scale(1.15);
}




.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 10px 40px;
}


.skill p i {
    margin-right: 10px;
    color: #AA1111;
}

.btn {
    padding: 12px 25px;
    border: none;
    background: #AA1111;
    color: white;
    transition: transform 0.3s, box-shadow 0.5s;
}

.btn:hover {
    transform: scale(1.2);
    box-shadow: #d60e0e;
}

section {
    background: transparent;
    padding: 30px;
    border: none;
    box-shadow: none;
}

section:hover {
    transform: scale(1.3);
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.figma-icon{
    background: linear-gradient(180deg,#F24E1E,#FF7262,#A259FF,#1ABCFE,#0ACF83);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}


.skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    margin-top: 20px;
    text-align: center;
}

.skill-item i {
    font-size: 120px;
    margin-bottom: 10px;
    display: block;
    transition: transform 0.3s ease;
}

.skill-item p {
    font-weight: bold;
    font-size: 0.9rem;
}

.skill-item i:hover {
    transform: scale(1.3);
    text-shadow: 0 0 5px #AA1111,
                 0 0 5px #AA1111,
                 0 0 5px #AA1111 
}


footer {
    border-top: 1px solid #eeeeee;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }
    
    header {
        width: 95%;
    }

    nav ul {
        gap: 15px;
    }
}

#skills,
#education,
#contact-me {
    padding-top: 200px;
}
