html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(120deg, #f5f7fa, #e4e8f0);
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

body.dark {
    background: linear-gradient(120deg, #121212, #1e1e1e);
    color: #eee;
}

body.dark section {
    background: #1e1e1e;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.6);   
    z-index: 1000;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

body.dark header {
    background: rgba(18,18,18, 0.6);
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background: #6e01b8;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    color: #6e01b8;
}

main {
    max-width: 1100px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

.skills{
    margin-bottom: 15px;
}

.progress{
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
}

.progress-bar{
    height: 10px;
    background: linear-gradient(90deg, #6e01b8, #b84cff);
    width: 0;
    border-radius: 20px;
    transition: width 1s ease-in-out;
}

.btn{
    padding: 12px 25px;
    border : none;
    border-radius: 30px;
    background: linear-gradient(90deg, #6e01b8, #b84cff);
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} 

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgpa(110, 1, 184, 0.4);
}


body.dark .progress{
    background: #333;
}

section {
    margin: 40px 0;
    padding: 25px;
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 14px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);;
}
    
section:hover {
    transform: translate(-5px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}

body.dark section {
    background: #1e1e1e;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

footer {
    border-top: 1px solid #000;
    text-align: center;
    margin-top: 40px;
    padding-top: 10px;
}

@media (max-width: 600px) {
    .top-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
